<div class="row">
  <div class="col">
    <h1><%= t('product_list') %></h1>
  </div>
  <div class="col">
    <div class="pull-right">
      <%= link_to t('new_product'), products_new_path, :class => "btn btn-primary" %>
    </div>
  </div>
</div>

<div class="row">
    <% @products.each_with_index do |product, index| %>
    <div class="col-3 product-card-col mb-5">
      <%= render 'product_card', product: product %>
    </div>
    <%end%>
</div>


<% content_for :footer do %>

<script>

$(document).ready(function() {

  $('.product-card-col').hover(
    function(){
      $(this).animate({
        marginTop: "-4px",
      }, 200)
    },
    function(){
      $(this).animate({
        marginTop: "0%"
      }, 200)
    }
  );

});

</script>

<% end %>
