<div class="row">
  <div class="col">
    <h1><%= t('product_list') %></h1>
  </div>
  <div class="col">
    <div class="pull-right">
      <%= link_to t('new_product'), products_new_path, :class => "btn btn-primary" %>
    </div>
  </div>
</div>

<div class="row">
    <% @products.each_with_index do |product, index| %>
    <div class="col-4">
      <%= render 'product_card', product: product %>
    </div>
    <%end%>
</div>
